<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>opensslDemo.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>040E1D5F195D01DE0074E1CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040E1D75195D01DE0074E1CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04138BBD196246FA00ABDC4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
